In [1]:
print("this is my print")

this is my print

In [1]:
l = [324,45,45,45]

In [2]:
len(l)

4

In [3]:
type(l)

list

In [4]:
def test():
    pass

In [5]:
def test1():
    print("this is my very very first function")

In [7]:
test1()

this is my very very first function

In [8]:
test1()

this is my very very first function

In [9]:
test1() + "sudh"

this is my very very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [10]:
def test2():
    return "this is my very first return "

In [11]:
test2()

'this is my very first return '

In [12]:
test2() + "sudh"

'this is my very first return sudh'

In [13]:
 def test3() :
    
        return "sudh" , 23, 345.56 , [1,2,3,3]

In [14]:
test3()

('sudh', 23, 345.56, [1, 2, 3, 3])

In [15]:
a,b,c,d = test3()

In [16]:
a

'sudh'

In [17]:
b

23

In [18]:
c

345.56

In [19]:
d

[1, 2, 3, 3]

In [20]:
a= 1
b = 4

In [21]:
a , b = 1,4

In [22]:
def test4():
    a = 5+6/7
    return a

In [23]:
test4()

5.857142857142857

In [24]:
test4()

5.857142857142857

In [25]:
def test5(a, b ,c):
    d = a+b/c
    return d

In [26]:
test5(4,5,6)

4.833333333333333

In [27]:
test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [28]:
test5(2,5,8)

2.625

In [29]:
def test6(a,b):
    return a+b

In [30]:
test6(3,4)

7

In [31]:
test6("sudh" , " kumar")

'sudh kumar'

In [32]:
test6([1,2,3,4,5] , [4,5,6])

[1, 2, 3, 4, 5, 4, 5, 6]

In [33]:
l = [1,2,3,4,"sudh" , "kumar" ,[1,2,3,4,5,6]]

In [34]:
l = [1,2,3,4,"sudh" , "kumar" ,[1,2,3,4,5,6]]

In [35]:
l1=[]
for i in l:
    if type(i)==int or type(i)==float:
        l1.append(i)

In [36]:
l1

[1, 2, 3, 4]

In [41]:
def test7(l):
    l1=[]
    for i in l:
        if type(i)==int or type(i)==float:
            l1.append(i)
            return(l1)

In [42]:
l1

[1, 2, 3, 4]

In [43]:
def test7(l):
    l1 = []
    for i in l :
        if type(i) == int or type(i) == float :
            l1.append(i)
    return l1

In [44]:
test7(l)

[1, 2, 3, 4]

In [45]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]]

In [46]:
def test8(a) :
    l= []
    for i in a :
        if type(i) == list:
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [47]:
test8()

TypeError: test8() missing 1 required positional argument: 'a'

In [48]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [49]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]]

In [51]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [52]:
def test9(a) :
    """this is my function to extract num data from list"""

    l= []
    for i in a :
        if type(i) == list:
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [53]:
test9()

TypeError: test9() missing 1 required positional argument: 'a'

In [54]:
def test10(a,b):
    return a+b

In [55]:
def test11(*args):
    return args

In [56]:
type(test11())

tuple

In [57]:
test11(1,2,3)

(1, 2, 3)

In [58]:
test11(1,2,3,"sudh" , "kumar" , [1,2,3,4,4])

(1, 2, 3, 'sudh', 'kumar', [1, 2, 3, 4, 4])

In [59]:
def test12(*sudh):
    return sudh

In [60]:
test12(1,2,34,4)

(1, 2, 34, 4)

In [61]:
def test13(*args , a) :
    return args , a

In [62]:
test13(1,2,3,4,5,6)

TypeError: test13() missing 1 required keyword-only argument: 'a'

In [63]:
test13(1,2,3,4 , a = 23)

((1, 2, 3, 4), 23)

In [64]:
def test14(c,d,a = 23 , b = 1 ):
    return a,b,c,d

In [65]:
test14()

TypeError: test14() missing 2 required positional arguments: 'c' and 'd'

In [66]:
test14(3,4)

(23, 1, 3, 4)

In [67]:
test14(2,5 , a = 2342)

(2342, 1, 2, 5)

In [69]:
def test15(**kwargs):
    return kwargs

In [71]:
test15()

{}

In [72]:
type(test15())

dict

In [73]:
type(test15())

dict

In [74]:
test15(a = [1,2,3,4] , b = "sudh" , c = 23.45 )

{'a': [1, 2, 3, 4], 'b': 'sudh', 'c': 23.45}

In [75]:
range(10)

range(0, 10)

In [76]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [77]:
def test_fib(n):
    a,b = 0,1
    for i in range(n):
        yield a
        a,b = b , a+b

In [78]:
for i in test_fib(22):
    print(i)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946

In [79]:
def test_fib1():
    a,b = 0,1
    while True:
        yield a
        a,b = b , a+b

In [80]:
fib = test_fib1()

In [81]:
print(fib)

<generator object test_fib1 at 0x000002023EB57440>

In [82]:
for i in range(10):
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

In [83]:
s = "sudh"

In [84]:
for i in s :
    print(i)

s
u
d
h

In [85]:
s

'sudh'

In [86]:
next(s)

TypeError: 'str' object is not an iterator

In [88]:
s1 = iter(s)

In [89]:
type(s1)

str_ascii_iterator

In [90]:
next(s1)

's'

In [91]:
print("heloo")

heloo